<?xml version="1.0" encoding="UTF-8" ?>
<!-- Mybatis config sample -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
          <typeAlias alias="city" type="com.mybatis.example.demo.model.City"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/mapper.xml" />
    </mappers>
</configuration>